[Unit]
Description=E-Ink Weather Display
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/weather-station/weather_station.py
WorkingDirectory=/home/pi/weather-station
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
